.iconGlass {
    width: 1.8rem;
    height: 1.8rem;
}
.divSearchBar {
    text-decoration: none;
}
.applyFilters {
    flex-wrap: wrap;
}
.selectsXcartIcon {
    width: 100%;
}
.divBtnsShow {
    /* background-color: violet; */
    display: flex;
    width: 4.2rem;
    justify-content: space-between;
}
.btnBurguer {
    margin-right: 1rem; 
    margin-top: .5rem;   
}
.divBtnsShow button {
    background-color: #494949;
    border-radius: 4px;
    width: 1.8rem;
    height: 1.8rem;
}
.divBtnsShowDis {
    display: none;
}
@media (min-width: 910px) {
    .container {
        top: 0 !important;
    }
}

@media (max-width: 1240px) {
    .container {
        width: 100% !important;
    }
}

@media (max-width: 910px) {
    .container {
        position: relative !important;
        margin-top: 10rem !important;
        background: #D8EAFF !important;
        height: 17rem !important;
    }
    .btnBurguer {
        display: flex !important;
        justify-content: center !important;
    }
    .selectsXcartIcon {
        height: 12rem !important;
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }

}
