@media (max-width: 700px) {
    .container {
      /* background: blue !important; */
      z-index: 3 !important;
    }
    .btnBurguer {
        display: flex !important;
        justify-content: center !important;
    }
    .divContainer {
        background: #E9A0E7 !important;
        position: relative !important;
        flex-direction: column !important;
        height: 14rem !important;
        z-index: 2 !important;
    }
    .divBtns {
        flex-direction: column-reverse !important;
        justify-content: space-evenly !important;
    }
    .cakeIcon {
        display: none !important;
    }
    .iconHome {
        width: 3rem !important;
        /* background: red; */
        /* height: 2rem !important; */
    }
}