.divBtnsNavbar Button {
    height: 1.8rem;
    width: 6rem;
    margin-right: .6rem;
    background: transparent;
    color: #333;
    border: none;
    box-shadow: none;
}
.divBtnsNavbar {
    margin-right: 4rem;
}
.divBtnsMenu > button {
    letter-spacing: .075rem;
}
.btnCuenta {
    height: 1.8rem !important;
    /* width: 8rem; */
    margin-right: 2.9rem;
    /* background: transparent !important; */
    color: #333 !important;
    border: none;
    box-shadow: none !important;
    cursor: pointer;
    z-index: 11;
    border-radius: 2rem;
}
.btnCuentaMove {
    height: 1.8rem !important;
    /* width: 8rem; */
    margin-right: 2.9rem;
    /* background: transparent !important; */
    color: #333 !important;
    border: none;
    box-shadow: none !important;
    cursor: pointer;
    z-index: 11;
    border-radius: 2rem;
}
.btnCuentaMove>p {
    /* background: green; */
    padding: 0 .3rem 0 .3rem;
    font-size: 1rem;
    color: #404040;
    font-weight: bold;
}
.btnCuenta > p {
    /* background: green; */
    padding: 0 .3rem 0 .3rem;
    font-size: 1rem;
    color: #404040;
    font-weight: bold;
}
.accountBarContainer {
    width: 1240px; 
    margin-right: 1084px;
}
.accountBarContainerClose {
    width: 0vw;
    min-height: 30rem;
}


@media (max-width: 1240px) {
    .accountBarContainer {
        /* background-color: #fbff00; */
        width: 110vw;
        margin-right: 78vw;
    }
    .accountBarContainerClose {
        /* background-color: red; */
        width: 0vw;
        margin-right: 92.5%;
    }
}
@media (max-width: 830px) {
    .accountBarContainer {
        /* background-color: #fbff00 !important; */
        width: 125vw !important;
        margin-right: 0px !important;
        margin-left: 50% !important;
    }
    
    .accountBarContainerClose {
        /* background-color: green; */
        width: 0vw;
        margin-right: 92.5% !important;
    }
    .container {
        /* background: blue !important; */
        z-index: 3 !important;
    }
    .btnBurguer {
        display: flex !important;
        justify-content: center !important;
        /* background: red !important; */
        margin-right: 1rem !important;
        margin-top: .5rem !important;
        z-index: 6 !important;
        border: .1rem solid #B39BE5 !important;
    }
    .divContainer {
        background: #B39BE5 !important;
        position: relative !important;
        flex-direction: column !important;
        height: 102vh !important;
        z-index: 5 !important;
    }
    .divBtns {

        flex-wrap: wrap-reverse;
        padding: 12px !important;
    }
    .divBtnsNavbar {
        height: 10rem !important;
        display: flex !important;
        flex-wrap: wrap !important;
        margin-right: .4rem;
    }
    .divBtnsNavbar Button p {
        font-size: .9rem;
        letter-spacing: .2rem;
    }
    .btnMyAccount {
        order: -1 !important
    }
    .cakeIcon {
        display: none !important;
    }
    .iconHome {
        width: 2.1rem !important;
        /* background: red; */
        /* height: 2rem !important; */
    }
    .btnCuenta {
        /* background: lightgray !important; */
    }
    .btnCuentaMove {
        top: -2.5rem;
    }
}
@media (max-width: 450px) {
    .btnCuenta {
        margin-right: 2rem !important;
    }
    .divBtnsMenu > button {
        /* background: green !important; */
        width: 11.5rem !important;
        font-size: .85rem;
        
    }
}
