.gradientText {
    background: linear-gradient(to right, #ff00ff92, #00ffff92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
    font-weight: bold;
    position: relative;
    /* left: -24rem */
}
/* fSize="3rem"
color="red" fWeight="bold" */