.container {
    background-color: beige;
    width: 100%;
}
.divContainer {
    width: 100%;
    background: #fff;
    flex-direction: column;
    border-radius: 0;
}
.btnsContainer {
    display: flex;
    width: 100%;
    /* background-color: blueviolet; */
    margin-top: 2.5rem;
    justify-content: space-between;
    padding: 0 .5rem 1rem 1rem;
}
.btn {
    width: 8rem;
    margin-right: .5rem;
    height: 2rem;
    padding: 4px 0 0 4px;
    border-radius: .1rem;
}
.iconSelectBtn {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
}
/* .pSelectBtn {
    font-size: .9rem;
} */