/* mt="1rem" ml="1rem" wd="14rem" hg="1.6rem" */
.divGradient {
    background: linear-gradient(135deg, #e8f0fd 82.5% , #f6d0db 50%);
    border-radius: 8px;
    margin: 1rem 0 0 1rem;
    width: 14rem;
    height: 1.6rem;
}
.inputFormLogin {
    background-color: transparent;
    width: 90%;
    height: 2.2rem;
    /* border-bottom: 2px solid #333; */
    padding: 0 .2rem 0 .2rem;
    outline: none;
    -webkit-text-fill-color: #333;
    -webkit-background-color: #333;
    font-family: 'Roboto';
}


.inputFormLoginDanger {
    background-color: transparent;
    width: 90%;
    height: 2.2rem;
    /* border-bottom: 2px solid red; */
    padding: 0 .2rem 0 .2rem;
    outline: none;
    font-family: 'Roboto';
}
.btnCloseSesion {
    width: fit-content;
    height: 1.8rem;
    padding: 0 2rem 0 2rem;
    background: #B39BE5;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    transition: .3s;
    font-family: Roboto;
    box-shadow: .1rem .1rem .3rem .1rem #25252586;
}
.btnCloseSesion:hover {
    background: #9bcee5
}
@media (max-width: 550px) {
    .title {
        display: none !important;
    }

}