.img {
    height: 12rem;
    width: 14rem;
    object-fit: cover;
    border-radius: .4rem 0 0 .4rem;
}
@media (max-width: 880px) {
    .divContainer {
        flex-direction: column !important;
        height: 27.5rem !important;
        width: 15rem !important;
    }
    .description {
        display: none !important;
    }
    .divDescriptionAndButton {
        border-left: 0 !important;
        width: 100% !important;
        margin-right: 0 !important;
    }
    .divButton {
        padding: 0 !important;
        justify-content: center !important;
    }
    .divInfo {
        width: 100% !important;
    }
    .divImg {
        width: 15rem !important;
    }
    .img {
        width: 15rem !important;
        border-radius: .4rem .4rem 0 0 !important;
    }

}