/* .img {
    height: 12rem;
    width: 14rem;
    object-fit: cover;
    border-radius: .4rem 0 0 .4rem;
}
.title {
    font-size: 1rem;
}
.divButton {
    width: 100%;
    display: flex;
    justify-content: space-around !important;

}
.btnEdit {
    background: #636ceb;
    color: #fff;
    font-family: Shrikhand;
    font-size: .9rem;
    letter-spacing: .1rem;
    padding: 3px 10px 3px 10px;
    border-radius: 1rem;
    box-shadow: 2px 2px .3rem .1rem rgb(0, 0, 0, 0.35), inset -8px -6px 25px #4f5b9b;
}
.limit {
    font-family: Roboto;
    font-weight: bold;
    padding-bottom: .4rem;
}
.divInfoContainer div p{
    font-size: 1rem;
}
.divInfoContainer div {
    width: 100%;
}

@media (max-width: 880px) {
    .divContainer {
        flex-direction: column !important;
        height: 27.5rem !important;
        width: 15rem !important;
    }
    .divInfoContainer div p {
        font-size: .9rem !important;
    }
    .limit {
        font-size: .9rem !important;
    }
    .description {
        display: none !important;
    }
    .divDescriptionAndButton {
        border-left: 0 !important;
        width: 100% !important;
        margin-right: 0 !important;
    }
    .divButton {
        padding: 0 !important;

    }
    .divInfo {
        width: 100% !important;
    }
    .divImg {
        width: 15rem !important;
    }
    .img {
        width: 15rem !important;
        border-radius: .4rem .4rem 0 0 !important;
    }
} */
.container {
    background: #fff;
    width: 60rem;
    height: 7rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    box-shadow: .1rem .1rem .1rem .05rem #25252586;
    display: flex;
}
.divName {
    width: 12rem;
    height: 100%;
    background: #2c2760;
    border-radius: .3rem 0 0 .3rem;
    padding: .5rem 1rem .5rem 1rem;
}
.divName > h2 {
    color: #fff;
    /* font-weight: bold; */
    letter-spacing: .05rem;
    font-size: 1rem;
    font-family: Roboto
}
.divName> p {
    color: #4d4788;
    font-size: .85rem;
    letter-spacing: .05rem;
    font-weight: bold;
}
.divRightSide {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: .5rem 1rem 1rem 1rem;
}
.divStartDate {
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divStartDate > h4 {
    color: #4d4788;
    font-size: .8rem;
    width: 6rem;
    font-family: Roboto
}
.divStartDate > button {
    align-self: flex-end;
    background: #2c2760;
    color: #fff;
    padding: .1rem 1rem .1rem 1rem;
    border-radius: 1rem;
    font-size: .9rem;
    letter-spacing: .03rem;
}
.divRightSide > h3 {
    color: #2c2760;
    font-size: 1.1rem;
    font-weight: bold;
}

@media (max-width: 35rem) {
    .container {
        /* background: red; */
        width: 100%;
        height: 8.5rem;
    }
    .divName {
        width: 80%;
    }
    .divRightSide {
        width: 20%;
        justify-content: flex-end;
        padding: .3rem;
    }
    .divRightSide > h3 {
        display: none;
    }
    .divStartDate > button {
        /* box-shadow: .1rem .1rem .1rem .05rem red; */
        border: .1rem solid #fff;
    }
    .divStartDate > h4 {
        background-color: #fff;
        border-radius: 3rem;
        padding: .2rem;
        position: relative;
        top: -.5rem;
        right: -0rem;
        width: max-content;
        display: flex;
        justify-content: flex-end;
    }
}