.divGradientOpen {
    background: radial-gradient(circle at 20% 20%, #f5d7df 1%, #f8b5c5 100%);
    box-shadow: .1rem .1rem .4rem .2rem #252525;
    overflow: hidden;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 14rem;
    border-radius: 0 .5rem 0 0;
    transition: .3s;
}
.divGradientClose {
    background: radial-gradient(circle at 20% 20%, #f5d7df 1%, #f8b5c5 100%);
    box-shadow: .1rem .1rem .4rem .2rem #252525;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 3.4rem;
    border-radius: 0 .5rem 0 0;
    transition: .3s;
}
