@media (max-width: 1240px) {
    .container {
        width: 100% !important;
    }
}
@media (max-width: 830px) {
    .container {
        background: #D8EAFF !important;
        flex-direction: column !important;
        border-bottom: none !important;
        height: 14rem !important;
        position: relative !important;
        top: 1.8rem !important;
        /* width: 50rem !important; */
        z-index: -1 !important;
        justify-content: space-evenly !important;
        align-items: flex-start !important;
    }
    .divContainer {
        top: 3.7rem !important;
        /* right: 0rem */
    }
    .container Select {
        width: 8rem !important;
    }
    .btnBurguer {
        display: flex !important;
    }
    .imgIcon {
        width: 2.2rem !important;
    }
}