.containerAllGrid {
    /* background: yellow; */
    margin-left: 6px;
}
.containerAllLine {
    width: 100%;
    /* background: yellow; */
}
.cardContainer2 {
    /* background-color: aqua !important; */
    width: 98% !important;
}
.cardContainer2Disabled {
    display: none;
}
.img2 {
    object-fit: cover;
    border-radius: .4rem 0 0 .4rem !important;
    width: 10rem;
    height: 10rem;
} 

.divBtns {
    box-shadow: 1px 1px 6px 1px rgb(0,0,0,0.35);
    border: 2px solid #fff;
}
.divBtnsContainer {
    display: flex;
    width: 11.2rem !important;
    justify-content: space-evenly !important;
    height: 54px !important;
}
.iconRight {
    border-radius: 2rem !important;
    font-size: 1.4rem !important;
    border-radius: 0rem 2rem 2rem 0rem !important;
}
.iconLeft {
    border-radius: 2rem !important;
    font-size: 1.4rem !important;
    border-radius: 2rem 0rem 0rem 2rem !important;
}
.iconBuy {
    box-shadow: 1px 1px 4px 1.5px rgb(0,0,0,0.35);
}
.divDescription {
    /* background: blue !important; */
    display: flex !important;
    
}
@media (max-width: 1240px) {
    .divDescription {
        display: none !important

    }
    .divDetails {
        width: 75% !important;
    }
    .cardContainer2 {
        justify-content: flex-start !important;
    }

}

/*! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! ! !*/

.cardContainer {
    /* background: red; */
    width: 10rem;
    height: 13.5rem;
    /* margin: 1rem 1rem 0 0; */
    margin: .3rem .3rem 0 0;
    /* border-radius: 8px; */
}
.carContainerDisabled {
    display: none;
}
.container {
    background: #fff;
    width: 10rem;
    height: 10rem;
    border-radius: 8px;

}
.name {
    font-size: .75rem;
    font-weight: bold;
    font-family: Roboto;
    /* background-color: aqua; */
    padding: 2px;
    letter-spacing: .5px;
}
.img {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
}
.divPrice {
    position: absolute;
    margin-top: .2rem;
    margin-left: .2rem;
    background: #393939a7;
    width: 4.5rem;
    height: .9rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.price {
    color: #fff;
    margin-top: .1rem;
    margin-left: .2rem;
    letter-spacing: 1px;
    font-size: .85rem;
    font-family: Roboto;
    font-weight: bold;
}
.containerIconAdd {
    position: relative;
    /* background: red; */
    /* height: .5rem; */
}
.divIconAdd {
    background: #393939a7;
    border-radius: 1rem;
    position: absolute;
    top: .2rem;
    left: 7.8rem;
    padding: 3px;
    cursor: pointer
}
.iconAdd {
    width: 1.6rem;
}
.divIconGlass {
    background: #393939a7;
    border-radius:1rem;
    width: 1.7rem;
    padding: 3px;
    position: absolute;
    right: 6px;
    top: 160px;
    cursor: pointer
}





.divIconGlass2 {
    background: #333333c2;
    border-radius: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    padding: 4px;
    box-shadow: 2px 2px 3px 1px rgb(0,0,0,0.35);
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}